src/*.exe
src/vouchercoin
src/vouchercoind
src/test_vouchercoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.vouchercoin

# Compilation and Qt preprocessor part
*.qm
Makefile
vouchercoin-qt
VoucherCoin-Qt.app

# Unit-tests
Makefile.test
vouchercoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
